<launch>  
  <arg name="starting_robot_number" />
  <param name="starting_robot_number" type="int" value="$(arg starting_robot_number)" />

  <arg name="map_name" />
  <param name="map_name" type="string" value="$(arg map_name)" />  

  <param name="use_sim_time" value="true"/>
  <arg name="paused" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <param name="robot_description" command="$(find xacro)/xacro '$(find tscf_exploration)/urdf/pioneer3dx.xacro'" />

  <group if="$(eval arg('starting_robot_number')  >= 1 )">
    <include file="$(find tscf_exploration)/launch/one_robot.launch" >
      <arg name="init_pose_x" value="-36.5" />
      <arg name="init_pose_y" value="36.5" />
      <arg name="init_pose_z" value="0.0" />
      <arg name="init_pose_yaw" value="0.0" />
      <arg name="ns_name"   value="atrv0" />
    </include>
  </group>

  <group if="$(eval arg('starting_robot_number') >= 2 )">
    <include file="$(find tscf_exploration)/launch/one_robot.launch" >
      <arg name="init_pose_x" value="-36.5" />
      <arg name="init_pose_y" value="29.5" />
      <arg name="init_pose_z" value="0.0" />
      <arg name="init_pose_yaw" value="0.0" />
      <arg name="ns_name"   value="atrv1" />
    </include>
  </group>

  <group if="$(eval arg('starting_robot_number') >= 3 )">
    <include file="$(find tscf_exploration)/launch/one_robot.launch" >
      <arg name="init_pose_x" value="-36.5" />
      <arg name="init_pose_y" value="22.5" />
      <arg name="init_pose_z" value="0.0" />
      <arg name="init_pose_yaw" value="0.0" />
      <arg name="ns_name"   value="atrv2" />
    </include>
  </group>

  <group if="$(eval arg('starting_robot_number') >= 4)">
    <include file="$(find tscf_exploration)/launch/one_robot.launch" >
        <arg name="init_pose_x" value="-36.5" />
        <arg name="init_pose_y" value="15.5" />
        <arg name="init_pose_z" value="0.0" />
        <arg name="init_pose_yaw" value="0.0" />
        <arg name="ns_name"   value="atrv3" />
      </include>
  </group>

  <group if="$(eval arg('starting_robot_number') >= 5)">
    <include file="$(find tscf_exploration)/launch/one_robot.launch" >
      <arg name="init_pose_x" value="-36.5" />
      <arg name="init_pose_y" value="8.5" />
      <arg name="init_pose_z" value="0.0" />
      <arg name="init_pose_yaw" value="0.0" />
      <arg name="ns_name"   value="atrv4" />
    </include> 
  </group>
 
<!--
-->

<node pkg="tscf_exploration" type="tscf_exploration_map_merger" name="tscf_exploration_map_merger" required="true" />
<node pkg="tscf_exploration" type="tscf_exploration_central_module" name="tscf_exploration_central_module"  required="true"/>
<node pkg="tscf_exploration" type="tscf_exploration_end_module" name="tscf_exploration_end_module" required="true" />

</launch>
